@import "_variables.scss";

html {
  font-size: 100%;
  .page {
    margin: 0;
  }
  body {
    .armin-nav {
      background: $main-color;

      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font;
        font-size: 1.2em;
      }
      a:hover {
        color: $white;
      }
    }

    .bg-front-page,
    .bg-news,
    .bg-contact,
    .bg-about-us,
    .bg-offer,
    .bg-project {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .hero-banner-first {
        padding-top: 2em;
        img {
          background: $grey-background;
          padding: 0.6em 1.5em;
        }
      }
      .hero-banner-second {
        padding-bottom: 2em;
        h1 {
          padding: 0.6em 1.5em;
          background: $grey-background;
          margin: 0.2em 0;
          font-family: $font;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }

    .bg-front-page {
      background-image: url("../images/front page.jpg");
    }

    .bg-news {
      background-image: url("../images/news.jpg");
    }

    .bg-contact {
      background-image: url("../images/contact.jpg");
    }

    .bg-about-us {
      background-image: url("../images/about us.jpg");
    }

    .bg-project {
      background-image: url("../images/project.jpg");
    }

    .bg-offer {
      background-image: url("../images/offer.jpg");
    }

    .armin-button {
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      background-color: $button-color;
      padding: 0.5em 1em;
      border-radius: 3px;
    }
    .armin-button:hover {
      background-color: $button-hover;
      border-color: $button-hover;
      color: $white;
    }

    .front-section-about {
      padding: 0.5em 0;
      font-family: $font;
      .row {
        margin: 2em 0;
        h1 {
          border-bottom: solid $main-color 2px;
          text-transform: uppercase;
        }
      }
    }

    .front-section-offer {
      padding: 0.5em 0;
      font-family: $font;
      background-image: url("../images/offer-front.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .row {
        margin: 2em 0;
        .offer-title {
          text-transform: uppercase;
        }
      }
      .offer-back {
        background: $grey-background;
      }
    }

    .front-section-projects {
      padding: 0.5em 0;
      font-family: $font;
      .row {
        margin: 2em 0;
        h1 {
          border-bottom: solid $main-color 2px;
        }
      }
    }

    .img-container {
      position: relative;
    }

    .front-image {
      display: block;
      width: 100%;
      height: auto;
    }

    .img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 1s ease;
      background-color: $main-color;
    }

    .img-container:hover .img-overlay {
      opacity: 1;
    }

    .img-text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    footer {
      background: $footer-color;
      border-top: $main-color 2px solid;
      .row {
        padding-top: 2em;
        h2 {
          text-transform: uppercase;
        }
        .wpcf7 {
          font-family: $font;
          .wpcf7-form {
            font-family: $font;
            label {
              width: 100%;
              .wpcf7-form-control-wrap {
                input {
                  width: 100%;
                }
                .wpcf7-not-valid-tip {
                  color: $main-color;
                }
              }
            }
            .wpcf7-submit {
              width: 100%;
              background-color: $button-color;
              color: $white;
              text-transform: uppercase;
            }
            .wpcf7-submit:hover {
              background-color: $button-hover;
            }
            .wpcf7-spinner {
              display: none;
            }
            .wpcf7-response-output {
              border: $button-color solid 2px;
              margin: 2em 0;
              color: $main-color;
              border-radius: 3px;
            }
          }
        }
      }
    }
  }
}
