@import "_variables.scss";

html {
  font-size: 100%;
  .page {
    margin: 0;
  }
  body {
    .armin-nav {
      background: $main-color;

      a {
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-family: $font;
        font-size: 1.2em;
      }
      a:hover {
        color: $white;
      }
      .navbar-toggler {
        border-color: $white;

        .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }
      .navbar-toggler:focus {
        box-shadow: none;
      }
    }

    .bg-front-page,
    .bg-news,
    .bg-about-us,
    .bg-offer,
    .bg-project,
    .bg-404 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      .hero-banner-first {
        padding-top: 2em;
        img {
          background: $grey-background;
          padding: 0.6em 1.5em;
        }
      }
      .hero-banner-second {
        padding-bottom: 2em;
        h1 {
          padding: 0.6em 1.5em;
          background: $grey-background;
          margin: 0.2em 0;
          font-family: $font;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }

    .bg-front-page {
      background-image: url("../images/front page.jpg");
    }

    .bg-news {
      background-image: url("../images/news.jpg");
    }

    .bg-about-us {
      background-image: url("../images/about us.jpg");
    }

    .bg-project {
      background-image: url("../images/project.jpg");
    }

    .bg-offer {
      background-image: url("../images/offer.jpg");
    }

    .bg-404 {
      background-image: url("../images/404 image.jpg");
    }

    .armin-button {
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      background-color: $button-color;
      padding: 0.5em 1em;
      border-radius: 3px;
    }
    .armin-button:hover {
      background-color: $button-hover;
      border-color: $button-hover;
      color: $white;
    }

    .front-section-about {
      padding: 0.5em 0;
      font-family: $font;
      .row {
        margin: 2em 0;
        h1 {
          border-bottom: solid $main-color 2px;
          text-transform: uppercase;
          margin: 1em 0;
        }
        a {
          margin: 1em 0;
        }
        p {
          text-align: justify;
        }
      }
    }

    .front-section-offer {
      padding: 0.5em 0;
      font-family: $font;
      .offer-row {
        margin-top: 2em;
        margin-bottom: 2em;
      }
      .row {
        .offer-title {
          text-transform: uppercase;
          border-bottom: solid $main-color 2px;
          text-transform: uppercase;
          margin: 1em 0;
        }
        h2 {
          text-transform: uppercase;
        }
      }
      .offer-back {
        background: $grey-background;
        margin: 1em 0;
      }
    }
    .button-row,
    .page-link-row {
      margin-top: 2em;
      margin-bottom: 2em;
    }

    .front-section-projects {
      padding: 0.5em 0;
      font-family: $font;
      .row {
        h1 {
          border-bottom: solid $main-color 2px;
          text-transform: uppercase;
          margin: 1em 0;
        }
      }
    }

    .img-container {
      position: relative;
      margin: 1em 0;
    }

    .front-image {
      display: block;
      width: 100%;
      height: auto;
    }

    .img-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 1s ease;
      background-color: $main-color;
    }

    .img-container:hover .img-overlay {
      opacity: 1;
    }

    .img-text {
      color: white;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .armin-row {
      font-family: $font;
      margin-top: 2em;
      margin-bottom: 2em;
      h1 {
        border-bottom: solid $main-color 2px;
      }
      a {
        text-decoration: none;
        color: $black;
      }
    }

    .icons-row {
      margin-bottom: 2em;
      padding-top: 1em;
      .fa-solid,
      .fa-brands {
        font-size: 3em;
        color: $main-color;
        &:hover {
          color: $button-hover;
        }
      }
    }

    .projects-armin {
      img {
        margin: 1em 0;
      }
      .h1-project {
        border: none;
        text-transform: uppercase;
      }
    }

    .con-404 {
      margin-top: 12em;
      margin-bottom: 12em;
    }

    footer {
      background: $footer-color;
      border-top: $main-color 2px solid;
      .row {
        padding-top: 2em;
        h2 {
          text-transform: uppercase;
        }
        .wpcf7 {
          font-family: $font;
          .wpcf7-form {
            font-family: $font;
            label {
              width: 100%;
              .wpcf7-form-control-wrap {
                input {
                  width: 100%;
                }
                .wpcf7-not-valid-tip {
                  color: $main-color;
                }
              }
            }
            .wpcf7-submit {
              width: 100%;
              background-color: $button-color;
              color: $white;
              text-transform: uppercase;
            }
            .wpcf7-submit:hover {
              background-color: $button-hover;
            }
            .wpcf7-spinner {
              display: none;
            }
            .wpcf7-response-output {
              border: $button-color solid 2px;
              margin: 2em 0;
              color: $main-color;
              border-radius: 3px;
            }
          }
        }
      }
      .armin-contact {
        h2 {
          text-transform: none;
        }
        .h1-contact {
          border-bottom: solid $button-hover 2px;
        }
        .tel:hover {
          color: $button-color;
        }
      }
      a {
        color: $black;
        text-decoration: none;
        &:hover {
          color: $button-color;
        }
        &:visited {
          color: $black;
          text-decoration: none;
          &:hover {
            color: $button-color;
          }
        }
      }
    }
  }
}
